nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  background-color: #3d3dc7;
  color: white;
}

.nav-link-wrap {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-align: right;
  margin-right: 40px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  margin-left: 40px;
  background-color: #42378f;
  background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
}

/* NAV Hover */

.nav-link:hover {
  color: yellow;
}
