body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('https://cdn.pixabay.com/photo/2016/02/14/09/44/nebulae-1199180_960_720.jpg');
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --orange: #ffa500;
  --numberInput: rgb(18, 17, 17);
  --input: rgb(255, 254, 254);
  --borderCol: rgb(123, 115, 115);
}

.operator {
  background-color: var(--orange);
  padding-bottom: 2px;
}

#input {
  background-color: var(--numberInput);
  width: 320px;
  height: 65px;
  text-align: right;
  color: var(--input);
  font-size: larger;
}

::placeholder {
  color: white;
  padding-right: 5px;
}

.calc-wrap {
  border: 1px rgb(221, 87, 87) solid;
  width: 320px;
  margin-left: 20px;
  margin-top: 20px;
}

.op,
.operator,
.number {
  width: 80px;
  height: 70px;
  border-radius: 50px;
}

#n0 {
  width: 160px;
  height: 60px;
  border-radius: 30px;
}

.blur {
  position: fixed;
  bottom: 0;
  left: 0;
}
